<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bubblix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bubblix">
        <activity android:name=".ui.CustomPurchaseActivity"></activity>
        <activity android:name=".SupperActivity" />
        <activity android:name=".ui.LunchActivity" />
        <activity android:name=".ui.BreakFastActivity" />
        <activity android:name=".ui.PaymentActivity" />
        <activity android:name=".ui.CartActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.ForgotPasswprd" />
        <activity android:name=".ui.DashboardActivity" />
        <activity android:name=".ui.CreateAccount" />
        <activity android:name=".ui.LogIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>